.form {
}

.form__title {
  display: block;
  margin: 0;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 36px;
}

.form__container {
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  white-space: nowrap;
  min-width: 300px;
}

.form__label {
  font-size: 16px;
  position: absolute;
  color: #828282;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  padding: 0 4px;
}

.form__field-input {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  padding: 12px 8px;
  min-width: 300px;
  position: relative;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  padding-bottom: 4px;
  border-bottom: 2px gray solid;
}

.form__field-bar {
  width: 100%;
  transform: scalex(0) translatey(-2px);
  transition: all 0.2s ease-in-out;
  height: 2px;
  background-color: var(--color-dark);
}

.form__field-notice {
  display: block;
  font-size: 0.8rem;
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 300px;
  height: 2rem;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-dark);
  filter: brightness(0.9);
  transition: all 0.2s ease-in-out;
}

.form__field-input:invalid ~ .form__field-bar {
  background-color: tomato;
  transform: scalex(1) translatey(-2px);
}

.form__field-input:invalid:focus ~ .from__field-notice {
  color: tomato;
}

.form__field-input:focus ~ .form__label,
.form__field-input:valid ~ .form__label {
  transform: translatey(-1.2rem);
  font-size: 0.9rem;
}

.form__field-input:focus ~ .form__field-bar {
  transform: scalex(1) translatey(-2px);
}

.form__label_raised {
  transform: translatey(-1.2rem);
  font-size: 0.9rem;
}
